.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.971191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.971191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.750000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.750000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{width:1.620000px;}
._0{width:3.564000px;}
._9{width:5.328000px;}
._3{width:11.268000px;}
._5{width:15.336000px;}
._2{width:16.776000px;}
._1{width:18.288000px;}
._7{width:31.644000px;}
._6{width:34.236000px;}
._a{width:36.000000px;}
._8{width:43.704000px;}
.fc1{color:rgb(112,48,160);}
.fc0{color:rgb(0,0,0);}
.fs5{font-size:24.000000px;}
.fs0{font-size:32.000000px;}
.fs3{font-size:36.000000px;}
.fs2{font-size:40.000000px;}
.fs4{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.y16{bottom:2.889999px;}
.yb{bottom:3.310000px;}
.y55{bottom:5.617000px;}
.y2a{bottom:7.750996px;}
.y14{bottom:8.966999px;}
.y2e{bottom:11.396999px;}
.y1e{bottom:13.827999px;}
.y2{bottom:15.528999px;}
.y1{bottom:17.550035px;}
.y29{bottom:18.688999px;}
.y13{bottom:19.905003px;}
.y4e{bottom:23.550999px;}
.y42{bottom:24.765995px;}
.y9{bottom:24.765999px;}
.y28{bottom:29.626995px;}
.y12{bottom:30.842999px;}
.y4d{bottom:34.489002px;}
.y38{bottom:35.703999px;}
.y7{bottom:36.462002px;}
.y27{bottom:40.564999px;}
.y11{bottom:41.780998px;}
.y39{bottom:42.000000px;}
.y4c{bottom:45.426998px;}
.y37{bottom:46.641998px;}
.y36{bottom:47.125015px;}
.y6{bottom:47.400002px;}
.y64{bottom:51.094985px;}
.y26{bottom:51.502998px;}
.y10{bottom:52.718998px;}
.y4b{bottom:56.365002px;}
.y41{bottom:57.579998px;}
.y5{bottom:58.548001px;}
.y25{bottom:62.440998px;}
.yf{bottom:63.656998px;}
.y4a{bottom:67.303001px;}
.y40{bottom:68.517998px;}
.y4{bottom:71.197001px;}
.y24{bottom:73.378998px;}
.ye{bottom:74.594997px;}
.y63{bottom:75.097023px;}
.y49{bottom:78.241001px;}
.y3f{bottom:79.455997px;}
.y23{bottom:84.316998px;}
.yd{bottom:85.532997px;}
.y48{bottom:89.179001px;}
.y3e{bottom:90.393997px;}
.y22{bottom:95.254997px;}
.y47{bottom:100.117001px;}
.y3d{bottom:101.331997px;}
.y21{bottom:106.192997px;}
.y46{bottom:111.055000px;}
.y3c{bottom:112.269997px;}
.y35{bottom:112.753020px;}
.y0{bottom:113.500000px;}
.y62{bottom:116.418014px;}
.y45{bottom:121.993000px;}
.y61{bottom:129.787014px;}
.y34{bottom:143.136024px;}
.y33{bottom:154.074020px;}
.y32{bottom:165.012020px;}
.y60{bottom:182.045989px;}
.y31{bottom:184.457024px;}
.y30{bottom:195.395023px;}
.y5f{bottom:209.804001px;}
.y2f{bottom:214.840023px;}
.y5e{bottom:220.741989px;}
.y2d{bottom:225.778023px;}
.y5d{bottom:231.680038px;}
.y5c{bottom:242.618027px;}
.y2c{bottom:245.223022px;}
.y5b{bottom:259.173018px;}
.y2b{bottom:269.349029px;}
.y5a{bottom:272.542019px;}
.y59{bottom:294.418022px;}
.y20{bottom:303.691021px;}
.y58{bottom:305.356022px;}
.y57{bottom:316.294022px;}
.y56{bottom:327.232021px;}
.y54{bottom:338.170021px;}
.y53{bottom:349.108021px;}
.y52{bottom:360.046021px;}
.y51{bottom:379.491027px;}
.y50{bottom:410.763004px;}
.y1f{bottom:429.904998px;}
.y1d{bottom:452.997017px;}
.y4f{bottom:486.114013px;}
.y1c{bottom:497.784026px;}
.y44{bottom:499.483013px;}
.y1b{bottom:520.352020px;}
.y1a{bottom:531.290009px;}
.y19{bottom:542.228027px;}
.y18{bottom:553.166016px;}
.y17{bottom:564.104019px;}
.y15{bottom:575.042007px;}
.yc{bottom:585.980015px;}
.y43{bottom:640.462005px;}
.y3b{bottom:664.769016px;}
.ya{bottom:690.318015px;}
.y8{bottom:703.687012px;}
.y3{bottom:736.501011px;}
.y3a{bottom:796.025013px;}
.hc{height:12.938000px;}
.h9{height:15.369000px;}
.h17{height:18.351562px;}
.hf{height:21.445000px;}
.h3{height:22.218750px;}
.h2{height:22.997999px;}
.h12{height:23.875999px;}
.h7{height:27.527344px;}
.h16{height:28.195312px;}
.h6{height:30.585938px;}
.he{height:31.328125px;}
.h5{height:33.328125px;}
.ha{height:33.644531px;}
.h8{height:34.813999px;}
.h18{height:45.751999px;}
.h10{height:56.689999px;}
.h15{height:67.627998px;}
.h4{height:83.400002px;}
.hb{height:106.337997px;}
.hd{height:116.240997px;}
.h14{height:132.041000px;}
.h13{height:133.255997px;}
.h11{height:623.500000px;}
.h1{height:710.500000px;}
.h0{height:841.700012px;}
.wd{width:20.000000px;}
.wc{width:87.500000px;}
.wa{width:128.000000px;}
.w4{width:194.199997px;}
.w7{width:197.300003px;}
.w5{width:238.399994px;}
.w6{width:251.600006px;}
.w2{width:254.199997px;}
.w9{width:362.000000px;}
.we{width:384.500000px;}
.w8{width:447.500000px;}
.w1{width:486.000000px;}
.w3{width:488.000000px;}
.wb{width:497.000000px;}
.w0{width:595.450012px;}
.x1{left:0.000000px;}
.x2{left:6.400000px;}
.x4{left:10.000000px;}
.xa{left:14.500000px;}
.x9{left:15.547000px;}
.x8{left:16.870000px;}
.x7{left:23.470999px;}
.xd{left:28.000000px;}
.x11{left:42.400002px;}
.x0{left:54.000000px;}
.xc{left:58.400000px;}
.x10{left:71.100000px;}
.x3{left:97.200001px;}
.xb{left:103.400000px;}
.xe{left:138.500000px;}
.xf{left:156.500000px;}
.x5{left:289.399994px;}
.x6{left:413.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{width:2.160000pt;}
._0{width:4.752000pt;}
._9{width:7.104000pt;}
._3{width:15.024000pt;}
._5{width:20.448000pt;}
._2{width:22.368000pt;}
._1{width:24.384000pt;}
._7{width:42.192000pt;}
._6{width:45.648000pt;}
._a{width:48.000000pt;}
._8{width:58.272000pt;}
.fs5{font-size:32.000000pt;}
.fs0{font-size:42.666667pt;}
.fs3{font-size:48.000000pt;}
.fs2{font-size:53.333333pt;}
.fs4{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.y16{bottom:3.853333pt;}
.yb{bottom:4.413334pt;}
.y55{bottom:7.489333pt;}
.y2a{bottom:10.334661pt;}
.y14{bottom:11.955999pt;}
.y2e{bottom:15.195999pt;}
.y1e{bottom:18.437332pt;}
.y2{bottom:20.705332pt;}
.y1{bottom:23.400047pt;}
.y29{bottom:24.918666pt;}
.y13{bottom:26.540003pt;}
.y4e{bottom:31.401332pt;}
.y42{bottom:33.021327pt;}
.y9{bottom:33.021332pt;}
.y28{bottom:39.502660pt;}
.y12{bottom:41.123998pt;}
.y4d{bottom:45.985336pt;}
.y38{bottom:47.605331pt;}
.y7{bottom:48.616002pt;}
.y27{bottom:54.086665pt;}
.y11{bottom:55.707998pt;}
.y39{bottom:56.000000pt;}
.y4c{bottom:60.569331pt;}
.y37{bottom:62.189331pt;}
.y36{bottom:62.833354pt;}
.y6{bottom:63.200002pt;}
.y64{bottom:68.126647pt;}
.y26{bottom:68.670664pt;}
.y10{bottom:70.291997pt;}
.y4b{bottom:75.153336pt;}
.y41{bottom:76.773331pt;}
.y5{bottom:78.064002pt;}
.y25{bottom:83.254664pt;}
.yf{bottom:84.875997pt;}
.y4a{bottom:89.737335pt;}
.y40{bottom:91.357330pt;}
.y4{bottom:94.929335pt;}
.y24{bottom:97.838664pt;}
.ye{bottom:99.459997pt;}
.y63{bottom:100.129364pt;}
.y49{bottom:104.321335pt;}
.y3f{bottom:105.941330pt;}
.y23{bottom:112.422663pt;}
.yd{bottom:114.043996pt;}
.y48{bottom:118.905334pt;}
.y3e{bottom:120.525330pt;}
.y22{bottom:127.006663pt;}
.y47{bottom:133.489334pt;}
.y3d{bottom:135.109329pt;}
.y21{bottom:141.590663pt;}
.y46{bottom:148.073334pt;}
.y3c{bottom:149.693329pt;}
.y35{bottom:150.337360pt;}
.y0{bottom:151.333333pt;}
.y62{bottom:155.224018pt;}
.y45{bottom:162.657333pt;}
.y61{bottom:173.049352pt;}
.y34{bottom:190.848033pt;}
.y33{bottom:205.432027pt;}
.y32{bottom:220.016027pt;}
.y60{bottom:242.727985pt;}
.y31{bottom:245.942698pt;}
.y30{bottom:260.526698pt;}
.y5f{bottom:279.738668pt;}
.y2f{bottom:286.453364pt;}
.y5e{bottom:294.322652pt;}
.y2d{bottom:301.037364pt;}
.y5d{bottom:308.906718pt;}
.y5c{bottom:323.490702pt;}
.y2c{bottom:326.964030pt;}
.y5b{bottom:345.564025pt;}
.y2b{bottom:359.132038pt;}
.y5a{bottom:363.389359pt;}
.y59{bottom:392.557363pt;}
.y20{bottom:404.921361pt;}
.y58{bottom:407.141362pt;}
.y57{bottom:421.725362pt;}
.y56{bottom:436.309362pt;}
.y54{bottom:450.893361pt;}
.y53{bottom:465.477361pt;}
.y52{bottom:480.061361pt;}
.y51{bottom:505.988036pt;}
.y50{bottom:547.684006pt;}
.y1f{bottom:573.206664pt;}
.y1d{bottom:603.996023pt;}
.y4f{bottom:648.152017pt;}
.y1c{bottom:663.712035pt;}
.y44{bottom:665.977351pt;}
.y1b{bottom:693.802694pt;}
.y1a{bottom:708.386678pt;}
.y19{bottom:722.970703pt;}
.y18{bottom:737.554687pt;}
.y17{bottom:752.138692pt;}
.y15{bottom:766.722677pt;}
.yc{bottom:781.306686pt;}
.y43{bottom:853.949340pt;}
.y3b{bottom:886.358688pt;}
.ya{bottom:920.424020pt;}
.y8{bottom:938.249349pt;}
.y3{bottom:982.001348pt;}
.y3a{bottom:1061.366684pt;}
.hc{height:17.250666pt;}
.h9{height:20.492001pt;}
.h17{height:24.468750pt;}
.hf{height:28.593333pt;}
.h3{height:29.625000pt;}
.h2{height:30.663999pt;}
.h12{height:31.834666pt;}
.h7{height:36.703125pt;}
.h16{height:37.593750pt;}
.h6{height:40.781250pt;}
.he{height:41.770833pt;}
.h5{height:44.437500pt;}
.ha{height:44.859375pt;}
.h8{height:46.418666pt;}
.h18{height:61.002665pt;}
.h10{height:75.586665pt;}
.h15{height:90.170664pt;}
.h4{height:111.200002pt;}
.hb{height:141.783997pt;}
.hd{height:154.987996pt;}
.h14{height:176.054667pt;}
.h13{height:177.674662pt;}
.h11{height:831.333333pt;}
.h1{height:947.333333pt;}
.h0{height:1122.266683pt;}
.wd{width:26.666667pt;}
.wc{width:116.666667pt;}
.wa{width:170.666667pt;}
.w4{width:258.933329pt;}
.w7{width:263.066671pt;}
.w5{width:317.866659pt;}
.w6{width:335.466675pt;}
.w2{width:338.933329pt;}
.w9{width:482.666667pt;}
.we{width:512.666667pt;}
.w8{width:596.666667pt;}
.w1{width:648.000000pt;}
.w3{width:650.666667pt;}
.wb{width:662.666667pt;}
.w0{width:793.933350pt;}
.x1{left:0.000000pt;}
.x2{left:8.533333pt;}
.x4{left:13.333333pt;}
.xa{left:19.333333pt;}
.x9{left:20.729334pt;}
.x8{left:22.493334pt;}
.x7{left:31.294666pt;}
.xd{left:37.333333pt;}
.x11{left:56.533335pt;}
.x0{left:72.000000pt;}
.xc{left:77.866666pt;}
.x10{left:94.800000pt;}
.x3{left:129.600001pt;}
.xb{left:137.866666pt;}
.xe{left:184.666667pt;}
.xf{left:208.666667pt;}
.x5{left:385.866659pt;}
.x6{left:550.666667pt;}
}
